.side-sliding-news-container{
    display: flex;
    transition: 1s;
    width: 100%;
    margin: 10px;
    
    
}

.side-slide-controls{
    display: flex;
    justify-content: space-around;
}

.side-sliding-news{
    min-width: 50%;
    max-width: 50%;
}


.arrows-btn{
    border: 1px solid black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    
}

.arrows-btn:hover{
    background-color: rgb(207, 207, 207);
}

.arrows-btn:active{
    transform: scale(0.8,0.8)
}