:root{
    width: calc(100vw - (100vw - 100%));
    overflow-x: hidden;
    font-family: Arial;
    
}

body{
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
    
}

h3{
    margin: 0;
}

h4{
    margin: 0;
}

p{
    font-size: 14px;
    color:rgb(104, 104, 104)
}



.news:not(.well){
    padding-right: 10px;
}

.section-title{
    font-weight: bold;
    margin-bottom: 20px;
}

.science-section{
    .news-info{
        margin-right: 10px;
    }
}




/* Images Sizes */

.medium-img{
    max-height: 140px;
    object-fit: cover;
    
}
.small-img {
    height: 90px;
    width: 90px;
    object-fit: cover;
}
.big-img{
    max-height: 350px;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

/* ---------------------- */





.homepage{
    width: 95%;
    max-width: 1250px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    
}







.main-container{
    
    display: grid;
    grid-template-columns: 70% auto 28%;
}

.main-container{
    margin-top: 30px;
    
}



.sidebar{
    width: 100%;
    

}







.api-img{
    width: 200px;
}



@media screen and (min-width: 1051px) {
    
}

@media screen and (max-width: 1050px){

    .sidebar{
        display: none;
    }
    
    .main-container{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 700px){
 
    .news{
        & h3{
            font-size: 20px;
        }

        
    }

    .sidebar{
        display: none;
    }
    

    .homepage{
        width: 100%;
        overflow: hidden;
        
        & p{
            font-size: 16px;
        }
        
        
        
    }
    .main-container{
        width: 90%;
        
        margin: 0 auto;
        margin-top: 30px;
        & p{
            font-size: 16px;
        }
    }

    


    
    
}






